body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
    font-family: "Press Start 2P", cursive;
}

.label-container {
    text-align: center; 
    margin-bottom: 20px;
}

.input-container {
    text-align: center;
    margin-bottom: 30px; 
    border: 2px solid #fff; 
    padding: 20px; 
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px; 
}


#sendTextBtn {
    background-color: #000;
    border: 2px solid #fff;
    color: #fff; 
    font-family: 'Press Start 2P', cursive; 
    font-size: 16px; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s, border-color 0.3s;
}


input[type="text"],
input[type="checkbox"],
select {
    border: 2px solid #000; 
    background-color: transparent;
    color: #000; 
    font-family: 'Press Start 2P', cursive; 
    font-size: 14px; 
    padding: 5px; 
    border-radius: 5px; 
}


select option {
    background-color: #000;
    border: 1px solid #000;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px; 
    color: #000; 
}


h1 {
    margin-bottom: 20px;
    font-family: 'Press Start 2P', cursive; 
    font-size: 28px;
    color: #000; 
}
